.container{
    display: grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 1fr;
    background-color: #2D2F3B;
    width: 1fr;
    /* height: 100vh; */
}
.item{

    background-color: transparent;
}