body{
    background-color: #2D2F3B;

}
.container{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 300px 1fr;
    /* background-color: #2D2F3B; */
    /* background: rgb(228,112,177);
    background: linear-gradient(235deg, rgba(228,112,177,1) 0%, rgba(64,145,224,1) 35%, rgba(0,212,255,1) 100%); */
    width: 60vw;
    height: 600px;
    gap: 8px;
    margin: auto;
    margin-top: 90px;
}
.item{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#as{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: rgb(228,112,177);
    background: linear-gradient(235deg, rgba(228,112,177,1) 0%, rgba(64,145,224,1) 35%, rgba(0,212,255,1) 100%);
}
#bs{
    background: rgb(228,112,177);
    background: linear-gradient(235deg, rgba(228,112,177,1) 0%, rgba(64,145,224,1) 35%, rgba(0,212,255,1) 100%);
    margin-bottom: 300px;
}
#cs{
    grid-column-start: 1;
    grid-column-end: 3;
    background: rgb(228,112,177);
    background: linear-gradient(235deg, rgba(228,112,177,1) 0%, rgba(64,145,224,1) 35%, rgba(0,212,255,1) 100%);
}
#ds{
    background: rgb(228,112,177);
    background: linear-gradient(235deg, rgba(228,112,177,1) 0%, rgba(64,145,224,1) 35%, rgba(0,212,255,1) 100%);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
/* background-color: transparent; */
#ds{
    /* display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-columns: repeat(4,1fr); */
    border-radius: 5px;

}
#ss{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gricol */
    color: white;
}
#q1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#main{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    height: 300px;
    /* width: 100%; */
    padding: 10px;
}
#q1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #C8CEEE;
}
#q2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #C8CEEE;
}
#q3{
    background-color: #C8CEEE;
}
#q4{
    background-color: #C8CEEE;
}
#q5{
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #C8CEEE;
}
#q6{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #C8CEEE;
}
#q7{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #C8CEEE;
}
#q8{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #C8CEEE;
}
#q9{
    background-color: #C8CEEE;
    grid-row-start: 3;
    grid-row-end: 5;
}
#q10{
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #C8CEEE;
}
.initem{
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}