.card1{
    height: 457px;
    width: 350px;
    border: 1px solid black;
    border-radius: 16px;
}
img{
    width: 334px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    margin: auto;
    margin-top: 8px;
}
.content ul{
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    padding: 0px 25px;
    line-height: 40px;
}
/* .content2 ul{    
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 50px;
    align-items: end;
}
.content2 ul li{
    width: 50px;
    height: 19px;
    display: flex;
    background-color: aqua;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 2px 10px;
    flex-direction: row-reverse;
} */
.content ul li{
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    margin-bottom: 23px;
}
li span{
    background-color: #cecece;
    border: 1px solid black;
    border-radius: 38px;
    padding: 0px 10px;
    
}