.main{
    width: 70%;
    background-color: black;

}
.container{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    display: flex;
}
.first img{
    width: 250px;
}
