@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    /* width: 100vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.main{
    /* width: 70vw; */
    background-color: black;
    height: 100%;
    width: 100%;
}
.container{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.first{
    display: flex;
    padding-bottom: 30px;
    height: 30%;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}
.first .pic img{
    width: 200px;
    position: absolute;
}
.text{
    /* padding: 0px 40px; */
    /* width: 50%; */
    width: 500px;
}
.pic{
    width:30%;
    height: 250px;
    position: relative;
    /* border: 2px solid black; */
}
.pic .img1{
    z-index: 0;
}
.pic .img2{
    z-index: 2;
    top: 120px;
    left: 30px;
}
.pic .img3{
    z-index: 1;
    bottom: 60px;
    left: 140px;
    top: 40px;
}

.second{
    display: flex;
    padding-bottom: 30px;
    height: 30%;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}
.second img{
    width: 200px;
    position: absolute;
}

.third{
    display: flex;
    padding-bottom: 30px;
    height: 30%;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}
.third img{
    width: 200px;
    position: absolute;
}

.order{
    order: -1;
}