body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.container{
    position: relative;
    top: 30vh;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: end; */
    /* display: grid;
    align-items: center;
    justify-content: center; */
    /* background-color: #000000; */
    /* border: 1px solid black; */
    width: 250px;
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    
}
.first-row button{
    width: 20px;
}

.container input{
   padding: 10px 17px;
}

#zero{
    width: 100px;
}